.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 7.5%;
    height: 60px;
    background-color: gold;
}

.header > div{
    display: flex;
    gap: 4rem;
}

.header > p{
    font-size: 25px;
    font-weight: bold;
}
.header > div p{
    cursor: pointer;
}